<div class="hero min-h-screen" style="background-image: url(/assets/heroImages/DSCN1414.jpg);">
  <div class="hero-overlay bg-opacity-60"></div>
  <div class="hero-content text-center text-neutral-content">
    <div class="max-w-md">
      <h1 class="mb-5 text-5xl font-bold">Jamie Shaw</h1>
      <h2 class="font-medium text-2xl">Philosopher</h2>
      <p class="mb-5">Hi! My name is Jamie Shaw. I am a philosopher of science. I mostly think about science funding policy and Feyerabend.</p>
      <a class="link" href="/blog">Blog →</a>
      <button class="btn btn-primary">CV</button>
    </div>
  </div>
</div>
