@import url("https://early.webawesome.com/webawesome@3.0.0-alpha.13/dist/styles/themes/tailspin.css");
@import url("https://early.webawesome.com/webawesome@3.0.0-alpha.13/dist/styles/brand/green.css");
@import url("https://early.webawesome.com/webawesome@3.0.0-alpha.13/dist/styles/themes/default/typography.css");

:where(:root),
:host,
.wa-theme-my-theme {
  --wa-border-radius-scale: 2;
  --wa-space-scale: 1.5;
  --wa-border-width-scale: 0.5;
}
