---
import type { Site } from "@src/types.ts";

interface Props {
  title: Site["title"];
  description: Site["desc"];
}
const { title, description } = Astro.props;
/* todo: Add more meta tags, JSONL schema, open graph, etc. */
---
<head>
  <link rel="sitemap" href="/sitemap-index.xml">
  <title>{title}</title>
  <meta name="description" content={description} />
  <meta name="generator" content={Astro.generator} />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- Web analytics -->
  <!-- Open Graph tags -->
  <meta property="og:title" content={title} />
</head>
