---
import Layout from "@src/layouts/Layout.astro"
---
<Layout>
  <h1>Welcome to Astro!</h1>
  <p>
    This is a starter template for building websites with Astro. You can
    customize it to fit your needs.
  </p>
  <p>
    Check out the <a href="/docs">documentation</a> to learn more about Astro.
  </p>
  <p>
    If you have any questions, feel free to ask in the{" "}
    <a href="https://astro.build/chat">community chat</a>.
  </p>
</Layout>
