---
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"head"> {
  title: string;
  description: string;
  image: string | undefined;
  url: string;
  author: string;
}
const { title, description } = Astro.props
/**
todo: Add more meta tags, JSONL schema, open graph, etc.
*/
---
<head>
  <link rel="sitemap" href="/sitemap-index.xml">
  <link rel="stylesheet" href="https://early.webawesome.com/webawesome@3.0.0-alpha.13/dist/styles/themes/default.css" />
  <link rel="stylesheet" href="https://early.webawesome.com/webawesome@3.0.0-alpha.13/dist/styles/webawesome.css" />
  <link rel="stylesheet" href="https://early.webawesome.com/webawesome@3.0.0-alpha.13/dist/styles/themes/tailspin.css" />
  <link rel="stylesheet" href="https://early.webawesome.com/webawesome@3.0.0-alpha.13/dist/styles/color/vogue.css" />
  <link rel="stylesheet" href="https://early.webawesome.com/webawesome@3.0.0-alpha.13/dist/styles/brand/green.css" />
  <link rel="stylesheet" href="https://early.webawesome.com/webawesome@3.0.0-alpha.13/dist/styles/themes/default/typography.css" />

  <style>
  :where(:root),
  :host,
  .wa-theme-my-theme {
    --wa-border-radius-scale: 2;
    --wa-space-scale: 1.5;
    --wa-border-width-scale: 0.5;
  }
  </style>
  <title>{title}</title>
  <meta name="description" content={description} />
  <meta name="generator" content={Astro.generator} />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- Web analytics -->
  <!-- Open Graph tags -->
  <meta property="og:title" content={title} />
  <script type="module" src="https://early.webawesome.com/webawesome@3.0.0-alpha.13/dist/webawesome.loader.js"></script>
</head>
