---
import type { CollectionEntry } from "astro:content";
/* Header Navigation component */
import type { HTMLAttributes } from "astro/types";
import NavItem from "./NavItem.astro";
interface Props extends HTMLAttributes<"nav"> {
  data: CollectionEntry<"navigations">["data"]
}
const navItems = Astro.props.data.links
---

<nav>
  <ul>
    {navItems.map(navItem => <NavItem href={navItem.href}>{navItem.label}</NavItem>)}
  </ul>
</nav>
