---
import MenuItem from "@components/MenuItem.astro";
---

<header>
  <nav>
    <ul>
      <MenuItem href="/">Home</MenuItem>
      <MenuItem href="/about">About</MenuItem>
      <MenuItem href="/contact">Contact</MenuItem>
    </ul>
  </nav>
</header>
