---
/* Hero section */
import type { HTMLAttributes } from "astro/types"
interface Props extends HTMLAttributes<"section"> {}
---
<section id="hero-section">
  <h1>Jamie Shaw</h1>
  <h2>philosopher</h2>
  <p>Exploring the depths of thought and reason.</p>
</section>
