---
/* NavItem component */
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"li"> {
  href: string;
  active?: boolean;
}
const { href, active } = Astro.props;
---

<li>
  <a
    href={href}
    class:list={[
      "text-foreground hover:text-primary transition-colors duration-200",
      active ? "font-semibold" : "font-normal",
    ]}
  >
    <slot />
  </a>
</li>
