---
/* NavItem component */
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"li"> {
  href: string;
  active?: boolean;
}
const { href, active } = Astro.props;
---

<li>
  <a href={href} class:list={[active ? "active" : ""]}>
    <slot />
  </a>
</li>
