---
import type { HTMLAttributes } from "astro/types";
interface Props extends HTMLAttributes<"section"> {}
---
<section id="research-interests">
  <h2>Research Interests</h2>
  <ul>
    <li>Philosophy of Mind</li>
    <li>Epistemology</li>
    <li>Ethics</li>
  </ul>
</section>
