---
/* Research Interests Component */
/* Types */
import type { CollectionEntry } from "astro:content";
import type { HTMLAttributes } from "astro/types";
interface Props extends HTMLAttributes<"section"> {
  data: CollectionEntry<"researchInterests">[]
}

const researchInterestsCollection = Astro.props.data
---
<section id="research">
  <h2>Research Interests</h2>
  <ul>
    {researchInterestsCollection.map((interest) =>{
      
    })}
  </ul>
</section>
