---
/* Teaching component */
import type { HTMLAttributes } from "astro/types";
interface Props extends HTMLAttributes<"section"> {}
---
<section id="teaching">
  <h2>Teaching</h2>
  <ul>
    <li>Introduction to Philosophy</li>
    <li>Ethics</li>
    <li>Philosophy of Mind</li>
  </ul>
</section>
