---
import Layout from "../layouts/Page.astro";
import Container from "../components/Container.astro";

const seo = {
  title: "Jamie Shaw - Philosopher",
  description:
    "Hi! My name is Jamie Shaw. I am a philosopher of science. I mostly think about science funding policy and Feyerabend.",
};
---

<Layout seo={seo}>
  <Container>
    <h1>Jamie Shaw</h1>
    <h2>Philosopher</h2>
    <p>
      Hi! My name is Jamie Shaw. I am a philosopher of science. I mostly think
      about science funding policy and Feyerabend.
    </p>
    <a class="link" href="/blog">Blog →</a>
  </Container>
</Layout>
