---
import Head from "@components/Head.astro";
import { SITE } from "@src/config.ts";
import '../styles/starwind.css'
---

<html lang="en">
  <Head
    data={SITE}
  />
  <body>
    <slot/>
  </body>
</html>
