---
import Head from "@components/Head.astro";
import { SITE, LOCALE } from "@src/config.ts";
import "../styles/starwind.css";
---

<html lang={LOCALE.lang}>
  <Head data={SITE} />
  <body class="bg-background text-foreground font-sans">
    <slot />
  </body>
</html>
