---
import Head from "@components/head/Head.astro";
import {SITE_DESCRIPTION, SITE_TITLE } from "@src/consts.ts";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <Head title={SITE_TITLE} description={SITE_DESCRIPTION}/>
  </head>
  <body>
    <slot />
  </body>
</html>
