---
import Head from "@components/head/Head.astro";
import {} from "@src/consts.ts";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <Head />
  </head>
  <body>
    <slot />
  </body>
</html>
